$background-grey: #333;
$text-white: #eee;

// Blues
$lightest-blue: #5ABBC0;
$light-blue: #33A3A8;
$blue: #169399;
$dark-blue: #037C82;
$darkest-blue: #016266;

// Reds
$lightest-red: #F4718B;
$light-red: #F04869;
$red: #EC2147;
$dark-red: #C9032A;
$darkest-red: #9E001F;

// Oranges
$lightest-orange: #FFB776;
$light-orange: #FF9F4D;
$orange: #FD8823;
$dark-orange: #D86503;
$darkest-orange: #A94E00;

// Greens
$lightest-green: #95EA6C;
$light-green: #77E144;
$green: #5CDB1F;
$dark-green: #3EBA03;
$darkest-green: #2F9200;
