<ion-view>
  <ion-content class="credits view-dark">
    <div class="list">
      <div class="item item--no-border">
        <a ui-sref="settings" class="credits__back button button-block button-outline">Back</a>
      </div>
      <div class="item item-divider">
        Icons (flaticon.com)
      </div>
      <div class="item">
        <i class="flaticon flaticon-gloves"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/madebyoliver');">Madebyoliver</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-batman"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-rate"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-angry"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-sad"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-double-left-arrows"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/fermam-aziz');">Fermam Aziz</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-clock"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/dario-ferrando');">Dario Ferrando</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-close"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-save"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/elias-bikbulatov');">Elias Bikbulatov</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-settings"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/madebyoliver');">Madebyoliver</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-pause"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/dirtyworks');">Dirtyworks</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-play"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-share"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/madebyoliver');">Madebyoliver</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-stop"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/dirtyworks');">Dirtyworks</a>
      </div>
      <div class="item">
        <i class="flaticon flaticon-info"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/elias-bikbulatov');">Elias Bikbulatov</a>
      </div>
      <div class="item">
        <i ng-include="'svgs/bell.svg'" class="credits__svg"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i ng-include="'svgs/flame.svg'" class="credits__svg"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item">
        <i ng-include="'svgs/stats.svg'" class="credits__svg"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/freepik');">Freepik</a>
      </div>
      <div class="item item--no-border">
        <i ng-include="'svgs/hourglass.svg'" class="credits__svg"></i>
        <a href="#" ng-click="vm.openExternal('http://www.flaticon.com/authors/madebyoliver');">Madebyoliver</a>
      </div>
      <div class="item item-divider">
        Sounds
      </div>
      <div class="item">
        Start bell - Samantha Enrico
      </div>
      <div class="item">
        End bell
        <a href="#" ng-click="vm.openExternal('http://freesound.org/people/ljudman/');">ljudman</a>
      </div>
      <div class="item item-divider">
        Misc
      </div>
      <div class="item">
        Lisa Majella - Putting up with my late night working :D
      </div>
      <div class="item">
        Luke Geere - Awesome help, and great suggestions!
      </div>
      <div class="item">
        @klaustopher - Great support, first review!
      </div>

    </div>
  </ion-content>
</ion-view>
